:root {
    --prim: #101111;
    --sec: #f4f800;
    --tert: #6c1200;
    --textColor:  #eff;
    --headerFont: 'Diplomata', cursive;
    --textFont:'Julius Sans One', sans-serif;
    --subheaderFont: 'Limelight', serif;
}

* {box-sizing: border-box;}

body {
    margin: 0;
    padding: 0;
    background-color: #050102;
}

.home {
    background-image: url("/media/movie-background.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

header {
    padding: 20px 0;
}

.header-h1, h1, h2 {
    padding: 20px 0;
    color: var(--textColor);
    font-family: var(--headerFont);
    text-align: center;
}

a, .nav-link, .colophon {
    font-size: 28px; 
    color: var(--textColor);
    font-family: var(--subheaderFont);
    text-decoration: none;
}

a:hover, .nav-link:hover {
    color: var(--sec);
}

.text {
    color: var(--textColor);
    font-family: var(--headerFont);
}

/* header */
.top-nav a {
    text-transform: uppercase;
}

/*movies page*/

.h1 {
    font-size: 84px;
}

.h2 {
    font-size: 72px;
}

.h3 {
    font-size: 56px;
}

.screen-row {
    position: relative;
}

.trailer {
    padding-bottom: 80px;
    object-position: center bottom;
    object-fit: fill;
}

.home-image {
    margin: 0 auto;
    padding: 8px;
    border-radius: 3%;
}

.list-group-item, .figcaption {
    color: var(--tert);
    font-size:  24px;
    font-family: var(--subheaderFont);
    font-weight: 600;
}

.movie-figure {

    display: block;
    position: relative;
    width: 100%;
    height: 500px;
    padding-top: 55px;
    padding-right: 41px;
    text-align: center;
    background-image: url("/media/poster_background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 8%;
}

.poster-img {
    position: absolute;
    left: 72px;
    max-width: 300px;
    max-height: 400px;
}

.figure-single  {
    display: block;
    position: relative;
    width: 100%;
    height: 500px;
    padding-top: 50px;
    text-align: center;
    background-image: url("/media/poster_background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 8%;
}

.image-single {
    position: absolute;
    top: 53px;
    left: 76px;
    max-height: 395px;

}

.figcaption {
    padding: 8px;
    background-color: var(--textColor);
}

.figcap-home {
    font-size: 20px;
}

.figcap-single {
    width: 80%;
}

.movieInfoDiv {
    background-image: url("/media/film_background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.info-text {
    font-size: 52px;
    font-family: var(--subheaderFont);
    color: var(--tert);
}


.imdb-text {
    margin: 0;
    padding: 0;
    font-size: 36px;
    font-family: var(--subheaderFont);
    color: var(--tert);
}

.imdb-2-text {
    margin: 0;
    padding: 0;
    font-size: 18px;
}

.info-image {
    margin: 80px 0 40px 0;
    max-height: 240px;
}

.not-found-image {
    margin: 0 auto;
}

.footer {
    color: var(--textColor);
    font-family: var(--textFont);
    font-weight: 900;
}

.colophon {
    margin: 0;
    padding: 0;
    font-size: 16px; 
    color: var(--textColor);
    font-family: var(--subheaderFont);
}
